@using IT_Consulting_CRM_Web.Controllers
@model IEnumerable<Contacts>
@if (AccountController.Role == "admin")
{
    Layout = "_LayoutAdmin";

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="global-styles.css">
        <style type="text/css">
            .btn {
                text-decoration: none;
                position: center;
                height: 40px;
                line-height: 40px;
                padding: 0 50px 0 50px;
                margin: 0 10px;
                background: linear-gradient(-135deg, #00E5FE, #4463FE);
                border-width: 0;
                border-radius: 50px;
                font-size: 15px;
                color: white;
                outline: none;
                cursor: pointer;
            }

            .brd {
                border: 4px double black; /*Параметры границы*/
                background: #e9e5e5; /*Цвет фона*/
                padding: 20px; /*Поля вокруг текста*/
            }

            .title_1 {
                margin-top: 60px;
                margin-left: 320px;
                text-decoration: none; /**убираем подчёркивание у ссылки**/
                color: #000; /**цвет текста ссылки**/
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Service">УСЛУГИ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Projects" asp-action="Project">ПРОЕКТЫ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="Blogs">БЛОГ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Contacts" asp-action="Contact">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="py-5" style="min-height:50em;">
            <div class="container my-auto">
                <h1 class="title_1">Контакты</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="row" style="align-content:center;">
                            <div class="brd">
                                @foreach (var item in Model)
                                {
                                    <div class="brd container-fluid px-4">
                                        <div class="card-img" >
                                            <img src="@item.Image"/>
                                        </div>
                                        <div id="photo" style="text-align: justify-all; word-wrap:break-word;">
                                            <span style="vertical-align:auto;">@item.Address</span>
                                        </div>
                                    </div>
                                    <div class="container my-5" style="text-align: justify-all; word-wrap:break-word;">
                                        <span>
                                            <p class="projects-item-descr" style="vertical-align:auto;">
                                                @item.ContactsInformation
                                            </p>
                                        </span>                                        
                                    </div>
                                    <div class="container my-5" style="text-align: justify-all;">
                                        <p class="projects-item-descr">
                                            Телефон: @item.Phone
                                        </p>
                                    </div>
                                    <div class="container my-5" style="text-align: justify-all;">
                                        <p class="projects-item-descr">
                                            E-mail: @item.EMail
                                        </p>
                                    </div>
                                    <div class="container my-5" style="text-align: justify-all">
                                        <p class="projects-item-descr">
                                            @item.Name
                                            @item.LastName
                                            @item.SurName                                            
                                        </p>
                                    </div>
                                    <a id="Delete" align="right" href="/Contacts/Delete/@item.Id">&#128465;</a>
                                    <a id="Update" align="right" href="/Contacts/UpdateContact/@item.Id">&#128393;</a>
                                }                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn projects-item-btn" style="margin-left:60px;" asp-controller="Contacts" asp-action="AddContact">Добавить контакт</a>
        </section>

        <footer class="py-lg-3 bg-dark" style="vertical-align:bottom">
            <div class="container">
                <p class="m-1 text-center text-white">#SkillProfi &copy; 2022</p>
                <p class="m-0 text-center text-white">Все права защищены</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </body>
    </html>
}
else
{
    ViewData["Title"] = "Projects List";

    <html lang="en">
    <head>
        <style type="text/css">
            .btn {
            text-decoration: none;
            position: center;
            height: 40px;
            line-height: 40px;
            padding: 0 50px 0 50px;
            margin: 0 10px;
            background: linear-gradient(-135deg, #00E5FE, #4463FE);
            border-width: 0;
            border-radius: 50px;
            font-size: 15px;
            color: white;
            outline: none;
            cursor: pointer;
            }

            .brd {
            border: 4px double black; /*Параметры границы*/
            background: #e9e5e5; /*Цвет фона*/
            padding: 20px; /*Поля вокруг текста*/
            }
            .title_1 {
                margin-top:60px;
                margin-left:320px;
                text-decoration: none; /**убираем подчёркивание у ссылки**/
                color: #000; /**цвет текста ссылки**/
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Service">УСЛУГИ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Projects" asp-action="Project">ПРОЕКТЫ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="Blogs">БЛОГ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Contacts" asp-action="Contact">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="py-5" style="min-height:50em;">
            <div class="container my-auto">
                <h1 class="title_1">Контакты</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="row" style="align-content:center;">
                            <div class="brd">
                                @foreach (var item in Model)
                                {
                                    <form>
                                        <div class="brd container-fluid px-4">
                                            <div id="photo" style="text-align: justify-all;">
                                                <img style="vertical-align:auto" width="550" height="300" src="@item.Image" alt="">
                                            </div>
                                            <div id="photo" style="text-align: justify-all; word-wrap:break-word;">
                                                <span style="vertical-align:auto;">@item.Address</span>
                                            </div>
                                        </div>
                                        <div class="container my-5" style="text-align: justify-all; word-wrap:break-word;">
                                            <span>
                                                <p class="projects-item-descr" style="vertical-align:auto;">
                                                    @item.ContactsInformation
                                                </p>
                                            </span>
                                        </div>
                                        <div class="container my-5" style="text-align: justify-all;">
                                            <p class="projects-item-descr">
                                                Телефон: @item.Phone
                                            </p>
                                        </div>
                                        <div class="container my-5" style="text-align: justify-all;">
                                            <p class="projects-item-descr">
                                                E-mail: @item.EMail
                                            </p>
                                        </div>
                                        <div class="container my-5" style="text-align: justify-all">
                                            <p class="projects-item-descr">
                                                @item.Name
                                                @item.LastName
                                                @item.SurName
                                            </p>
                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="py-lg-3 bg-dark" style="vertical-align:bottom">
            <div class="container">
                <p class="m-1 text-center text-white">#SkillProfi &copy; 2022</p>
                <p class="m-0 text-center text-white">Все права защищены</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </body>
    </html>
}
