@using IT_Consulting_CRM_Web.Controllers
@model IEnumerable<Blogs>
@if (AccountController.Role == "admin")
{
    Layout = "_LayoutAdmin";

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="global-styles.css">
        <style>
            .fullclick {
                margin: 1em 0;
                padding: 0;
                max-width: 25em;
            }

            .fullclick a.main {
                color: #85baff;
                display: block;
                z-index: 1;
            }

            .fullclick li a.main::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 40px;
                content: ' ';
            }
        </style>

        <style type="text/css">
            .btn {
                text-decoration: none;
                position: center;
                height: 40px;
                line-height: 40px;
                padding: 0 50px 0 50px;
                margin: 0 10px;
                background: linear-gradient(-135deg, #00E5FE, #4463FE);
                border-width: 0;
                border-radius: 50px;
                font-size: 15px;
                color: white;
                outline: none;
                cursor: pointer;
            }

            .brd {
                border: 4px double black; /*Параметры границы*/
                background: #e9e5e5; /*Цвет фона*/
                padding: 20px; /*Поля вокруг текста*/
            }

            .brd1 {
                border: 2px double black; /*Параметры границы*/
            }

            .card:hover {
                box-shadow: -1px 9px 40px -12px #4463FE;
            }

            .title_1 {
                margin-top: 20px;
                text-decoration: none; /**убираем подчёркивание у ссылки**/
                color: #000; /**цвет текста ссылки**/
            }

            li {
                list-style-type: none; /* Убираем маркеры */
            }

            ul {
                margin-left: 0; /* Отступ слева в браузере IE и Opera */
                padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Service">УСЛУГИ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Projects" asp-action="Project">ПРОЕКТЫ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="Blogs">БЛОГ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Contacts" asp-action="Contact">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
                
        <section class="py-5">
            <div class="container">
                <h1 class="title_1">Блог</h1>
                <div class="brd1"></div>
                <div class="row justify-content-center" style="min-height:40em; min-width:15em">
                    @foreach (var item in Model)
                    {
                        <ul class="fullclick">
                            <li>
                                @item.DateTime
                                <div class="card" style="width:20em;margin:10px;">
                                    <img src="@item.Image" class="card-img-top" style="height:10em;" />
                                    <div class="card-body" style="min-height:5em;">
                                        <div class="card-text" style="word-wrap:break-word; text-align: left;">
                                            <p>@item.Header</p>
                                        </div>
                                    </div>
                                    <div class="card-text" style="word-wrap:break-word;">
                                        <p>@item.BlogInformation</p>
                                    </div>
                                    <a id="Delete" align="right" href="/Blog/DeleteBlog/@item.Id">&#128465;</a>
                                    <a id="Update" align="right" href="/Blog/UpdateBlog/@item.Id">&#128393;</a>
                                    <a href="/Blog/BlogDetails/@item.Id" class="main"></a>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </section>

        <footer class="py-lg-3 bg-dark" style="vertical-align:bottom">
            <div class="container">
                <p class="m-1 text-center text-white">#Skill &copy; 2022</p>
                <p class="m-0 text-center text-white">Все права защищены</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript">
            $('.card').hover(
                function () {
                    $(this).animate({
                        marginTop: "-=0.2%",
                        marginBottom: "+=0.2%"
                    }, 200)
                },
                function () {
                    $(this).animate({
                        marginTop: "+=0.2%",
                        marginBottom: "-=0.2%"
                    })
                }
            )
        </script>
    </body>
    </html>
}
else
{
    ViewData["Title"] = "Projects List";

    <html lang="en">
    <head>     
        <link rel="stylesheet" href="global-styles.css">
        <style>
            .fullclick {
                margin: 1em 0;
                padding: 0;
                max-width: 25em;
            }

            .fullclick a.main {
                color: #85baff;                
                display: block;
                z-index: 1;
            }

            .fullclick li a.main::after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: ' ';
            }
        </style>

        <style type="text/css">
            .btn {
            text-decoration: none;
            position: center;
            height: 40px;
            line-height: 40px;
            padding: 0 50px 0 50px;
            margin: 0 10px;
            background: linear-gradient(-135deg, #00E5FE, #4463FE);
            border-width: 0;
            border-radius: 50px;
            font-size: 15px;
            color: white;
            outline: none;
            cursor: pointer;
            }

            .brd {
            border: 4px double black; /*Параметры границы*/
            background: #e9e5e5; /*Цвет фона*/
            padding: 20px; /*Поля вокруг текста*/
            }

            .brd1 {
                border: 2px double black; /*Параметры границы*/
            }

            .card:hover {
            box-shadow: -1px 9px 40px -12px #4463FE;
            }

            .title_1 {
                margin-top: 60px;
                text-decoration: none; /**убираем подчёркивание у ссылки**/
                color: #000; /**цвет текста ссылки**/
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Service">УСЛУГИ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Projects" asp-action="Project">ПРОЕКТЫ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Blog" asp-action="Blogs">БЛОГ</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Contacts" asp-action="Contact">КОНТАКТЫ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="py-5" >
            <div class="container">
                <h1 class="title_1">Блог</h1>
                <div class="brd1"></div>
                <div class="row justify-content-center" style="min-height:40em; min-width:15em">
                    @foreach (var item in Model)
                    {
                        <ul class="fullclick">
                            <li>
                                @item.DateTime
                                <div class="card" style="width:20em;margin:10px;">
                                    <img src="@item.Image" class="card-img-top" style="height:10em;" />
                                    <div class="card-body" style="min-height:5em;">
                                        <div class="card-text" style="word-wrap:break-word; text-align: left;">
                                            <p>@item.Header</p>
                                        </div>
                                    </div>
                                    <div class="card-text" style="word-wrap:break-word;">
                                        <p>@item.BlogInformation</p>
                                    </div>
                                    <a href="/Blog/BlogDetails/@item.Id" class="main"></a>
                                </div>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </section>
        <footer class="py-lg-3 bg-dark" style="vertical-align:bottom">
            <div class="container">
                <p class="m-1 text-center text-white">#Skill &copy; 2022</p>
                <p class="m-0 text-center text-white">Все права защищены</p>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/scripts.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript">
            $('.card').hover(
            function () {
            $(this).animate({
            marginTop: "-=0.2%",
            marginBottom: "+=0.2%"
            }, 200)
            },
            function () {
            $(this).animate({
            marginTop: "+=0.2%",
            marginBottom: "-=0.2%"
            })
            }
            )
        </script>
    </body>
    </html>
}
